@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../components/AccessibilityBar/variable.css";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-wrapper {
    display: flex;
    flex-direction: row !important;

    .swiper-slide {
        display: flex;
        justify-content: center;
    }
}