:root {
    --primary-color: red;
    --primary-black: #000000;
    --primary-green: #00813B;
    --primary-orange: #F28F3B;
    --primary-blue: #708AFF;
    --primary-white: #FFFFFF;
    --primary-beige: #FAF2EF;
    --primary-brown: #4C3F34;
    --primary-purple: #5603AD;
}

.custom-stroke {
    color: var(--primary-white);
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.bg-primary-black {
    background-color: var(--primary-black);
}
.bg-primary-green {
    background-color: var(--primary-green);
}
.bg-primary-orange {
    background-color: var(--primary-orange);
}
.bg-primary-blue {
    background-color: var(--primary-blue);
}
.bg-primary-white {
    background-color: var(--primary-white);
}
.bg-primary-beige {
    background-color: var(--primary-beige);
}
.bg-primary-brown {
    background-color: var(--primary-brown);
}
.bg-primary-purple {
    background-color: var(--primary-purple);
}
.transition {
    transition: 0.3s ease-in-out;
}
.h-fill {
    height: -webkit-fill-available;
}

.swiper {
    display: flex;
    flex-direction: column;
    .swiper-pagination {
        display: flex;
        justify-content: center;
        gap: 15px
    }
    .swiper-pagination-bullet {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 100px;
        cursor: pointer;
        transition: .3s ease-in-out;
        background-color: #D9D9D9;
    }
    .swiper-pagination-bullet-active {
        background-color: var(--primary-green);
    }
}